@font-face {
  font-family: Gotham-bold;
  src: url(../assets/font/Gotham_Bold.otf);
}

@font-face {
  font-family: Gotham-light;
  src: url(../assets/font/Gotham_Light.otf);
  font-weight: 700;
}

@font-face {
  font-family: Gotham-thin;
  src: url(../assets/font/Gotham_Thin.otf);
}

:root {
  --dark-red: hsla(14, 84%, 27%, 1);
  --orange: hsla(14, 74%, 37%, 1);
  --navbar-height: 45px;
  --calendar-width: 350px;
}

html,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
}

body {
  background-color: none;
}

.gotham-bold {
  font-family: Gotham-bold;
  font-weight: 700;
}

a.anchor {
  display: block;
  position: relative;
  top: calc(-1 * var(--navbar-height));
  visibility: hidden;
}

#home {
  position: absolute;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
}

.navbar {
  max-height: var(--navbar-height);
  background-color: var(--dark-red);
  mix-blend-mode: screen;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
}

.navbar::after {
  content: "";
  background-image: url(../assets/header.png);
  background-size: cover;
  height: var(--navbar-height);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  mix-blend-mode: multiply;
}

.brand {
  max-height: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.brand * {
  z-index: 1000;
  text-transform: none;
}

.brand__logo {
  max-height: inherit;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.brand__name {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  font-family: Gotham-light;
  color: var(--orange);
  font-size: 0.85em;
}

.navigation {
  display: none;
  z-index: 1000;
}

.navigation--open {
  display: -ms-grid;
  display: grid;
}

.navigation__link {
  color: var(--orange);
  text-decoration: none;
  font-variant: small-caps;
  font-family: Gotham-light;
  font-size: 24px;
}

.navigation__link:hover {
  background: #121212;
}

.hamburger {
  -ms-grid-row-align: center;
      align-self: center;
  height: 30px;
  width: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  row-gap: 5px;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
  z-index: 1000;
}

.hamburger__item {
  border: solid var(--orange) 1.5px;
  background-color: var(--orange);
  border-radius: 10px;
  pointer-events: none;
}

main {
  margin-top: var(--navbar-height);
}

.landing {
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.landing::before, .landing::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.landing::before {
  background: url(../assets/arthur_bg.jfif) no-repeat center center;
  background-size: cover;
  z-index: -20;
}

.landing::after {
  z-index: -19;
  background: rgba(144, 49, 14, 0.4);
  mix-blend-mode: color;
}

.landing__text {
  font-family: Gotham-thin;
  margin-left: 40px;
}

.landing__text .title {
  color: var(--orange);
  text-shadow: -7px 1px 5px rgba(0, 0, 0, 0.5);
}

.landing__text .section-title {
  margin-left: 0px;
}

.section-title {
  font-family: Gotham-thin;
  border-left: solid 5px var(--orange);
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 40px;
}

.section-title__text {
  color: white;
  font-weight: 300;
  margin-left: 13px;
}

.transition {
  position: absolute;
  left: 0;
}

.transition-top {
  top: -1px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.transition-bot {
  bottom: -1px;
}

.tournaments {
  padding: 20px 0 50px 0;
  display: -ms-grid;
  display: grid;
  row-gap: 25px;
}

.tournaments {
  background-image: url(../assets/checker_bg.jpg);
}

.calendar-section {
  background-image: url(../assets/checker_bg_calendar.jpg);
}

.tournament-type {
  padding: 0 10px;
  height: 50px;
  position: relative;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.tournament-type::before, .tournament-type::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
}

.tournament-type::before {
  background: rgba(127, 38, 11, 0.7);
  mix-blend-mode: color;
}

.tournament-type::after {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.tournament-type--conquest {
  background-image: url(../assets/type-conquest.png);
}

.tournament-type--joust {
  background-image: url(../assets/type-joust.png);
}

.tournament-type--assault {
  background-image: url(../assets/type-assault.png);
}

.tournament-type--special {
  background-image: url(../assets/type-special.png);
}

.tournament-type__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.tournament-type__icon {
  height: 25px;
  width: 25px;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tournament-type__icon--conquest {
  background-image: url(../assets/type-conquest-icon.png);
}

.tournament-type__icon--joust {
  background-image: url(../assets/type-joust-icon.png);
}

.tournament-type__icon--assault {
  background-image: url(../assets/type-assault-icon.png);
}

.tournament-type__icon--special {
  background-image: url(../assets/type-special-icon.png);
}

.tournament-type__text {
  color: white;
  font-family: Gotham-thin;
  font-size: 11px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.timetable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  z-index: 1000;
  font-family: gotham-light;
  text-align: center;
  gap: 15px;
}

.timetable__region {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 7px;
}

.timetable__button {
  background: #7f260b;
  border-radius: 5px;
  width: 48px;
  height: 16px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
  offset: 0px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.5) inset;
}

.timetable__name {
  font-family: gotham-bold;
  color: #7f260b;
  mix-blend-mode: multiply;
  font-size: 11px;
}

.timetable__time {
  font-size: 10px;
}

.calendar-section {
  padding: 20px 0 70px 0;
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
}

.calendar,
.filter {
  width: var(--calendar-width);
  -ms-grid-column-align: center;
      justify-self: center;
}

.calendar {
  color: white;
  border-collapse: collapse;
  font-family: gotham-thin;
}

.calendar td,
.calendar th {
  width: calc(var(--calendar-width) / 7);
}

.calendar__header th {
  text-align: right;
  padding: 0 5px 2px 0;
  font-size: 8px;
}

.calendar__day {
  border: solid 2px rgba(255, 255, 255, 0.2);
  height: calc(var(--calendar-width) / 7);
  position: relative;
}

.calendar__day .day-number {
  color: white;
  font-family: gotham-thin;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 7px;
}

.calendar__today::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  background: #3cdb14;
  -webkit-box-shadow: 0px 0px 8px 0px #3cdb14;
          box-shadow: 0px 0px 8px 0px #3cdb14;
  border-radius: 8px;
  width: 7px;
  height: 7px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-button,
.dropdown .dropdown-items {
  color: white;
  font-size: 11px;
  font-family: Gotham-bold;
  text-align: right;
}

.dropdown .dropdown-button {
  background: none;
  border: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  cursor: pointer;
  margin-left: auto;
}

.dropdown .dropdown-button img {
  width: 21px;
}

.dropdown .dropdown-button--open {
  background: #1c1c1c;
}

.dropdown .dropdown-items {
  top: 28px;
  background: #1c1c1c;
}

.dropdown .dropdown-items ul {
  list-style: none;
}

.dropdown .dropdown-items .dropdown-item {
  text-align: right;
}

.about-section {
  position: relative;
  height: 250px;
}

.about-section .transition {
  z-index: -1 !important;
  max-width: 100%;
}

.about-section .about-title {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about-section::before {
  content: "";
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background: rgba(144, 49, 14, 0.4);
  mix-blend-mode: color;
  overflow-x: hidden;
}

.about-section::after {
  content: "";
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/about_bg.jfif);
  background-size: cover;
  z-index: -20;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  overflow-x: hidden;
}

.about-section .about-content {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.about-section .about-content__item {
  color: white;
  font-family: gotham-thin;
}

.bottom-nav {
  background-image: url(../assets/checker_bg.jpg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.bottom-nav .bottom-navigation {
  -ms-flex-item-align: center;
      align-self: center;
  height: 80%;
  border-top: solid 8px var(--dark-red);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  font-size: 11px;
}

.bottom-nav .bottom-navigation__link {
  text-decoration: none;
  color: white;
  font-family: gotham-thin;
  margin: 0 3px;
  display: inline;
  max-height: 38px;
}

.bottom-nav .bottom-navigation__link:first-of-type {
  margin-left: 0;
}

.bottom-nav .bottom-navigation__link:last-of-type {
  margin-right: 0;
}

.bottom-nav__logo {
  height: 80px;
  width: 80px;
}

footer {
  background-color: var(--dark-red);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "socials to-top" "copyrights copyrights";
  padding: 0 10px;
}

footer .to-top {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: to-top;
  height: 63px;
  width: 63px;
  background: #a43919;
  border: none;
  cursor: pointer;
  justify-self: flex-end;
  -webkit-box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .to-top img {
  max-height: 60%;
}

footer .socials {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: socials;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: gotham-bold;
  color: white;
}

footer .socials__icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .socials__icons li {
  margin: 0 11px;
  padding: 3px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .socials__icons a {
  text-decoration: none;
  color: white;
}

footer .socials__wrapper {
  display: inline-block;
  text-align: center;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: copyrights;
  font-family: gotham-thin;
  color: white;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 5px;
  font-size: 12px;
}

.bottom-nav,
footer {
  height: 120px;
}

@media (max-width: 576px) {
  html,
  body {
    overflow-x: hidden;
  }
  .navigation {
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    text-align: right;
    width: 100%;
    background: #1c1c1c;
    row-gap: 10px;
    padding: 10px 5% 10px 0;
  }
}

@media (min-width: 576px) {
  .navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    -ms-grid-row-align: center;
        align-self: center;
    font-size: 24;
  }
  .navigation__link {
    font-size: 10px;
  }
  .hamburger {
    display: none;
  }
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 60px;
  }
  .navigation {
    margin-right: 50px;
  }
  .navigation__link {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  :root {
    --navbar-height: 90px;
    --calendar-width: 1050px;
  }
  .navigation__link {
    font-size: 24px;
  }
  .navigation__link:hover {
    background: none;
  }
  .brand__name {
    font-size: 1.4em;
  }
  main {
    margin-top: var(--navbar-height);
  }
  .section-title {
    font-size: 30px;
    height: 60px;
    border-width: 10px;
    margin-left: 110px;
  }
  .landing {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .landing__text {
    -webkit-transform: translateY(-16%);
            transform: translateY(-16%);
    margin-left: 110px;
  }
  .landing__text .title {
    font-size: 60px;
  }
  .landing__text .cta {
    margin-left: 0;
  }
  .tournaments {
    row-gap: 50px;
  }
  .tournaments .tournament-type {
    height: 100px;
    padding: 0 110px;
  }
  .tournaments .tournament-type__text {
    font-size: 25px;
  }
  .tournaments .tournament-type__icon {
    height: 50px;
    width: 50px;
  }
  .timetable {
    gap: 60px;
  }
  .timetable__name {
    font-size: 25px;
  }
  .timetable__time {
    font-size: 20px;
  }
  .timetable__button {
    height: 33px;
    width: 95px;
  }
  .timetable__region {
    width: 193px;
  }
  .filter {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .filter__date {
    margin-right: auto;
  }
  .filter__date .dropdown-button {
    width: 270px;
    text-align: right;
  }
  .filter__gamemode {
    margin-left: 40px;
  }
  .dropdown .dropdown-button,
  .dropdown .dropdown-items {
    font-size: 24px;
  }
  .dropdown .dropdown-items {
    padding-right: 50px;
  }
  .dropdown .dropdown-button > img {
    width: 42px;
  }
  .calendar__header th {
    font-size: 20px;
  }
  .calendar__day .day-number {
    font-size: 20px;
    top: 5px;
    right: 5px;
  }
  .calendar__today::after {
    height: 16.67px;
    width: 16.67px;
    top: 5px;
    left: 5px;
  }
  .about-section {
    height: 904px;
  }
  .about-section .about-content {
    font-size: 50px;
    -webkit-column-gap: 120px;
            column-gap: 120px;
  }
  .bottom-nav,
  footer {
    height: 254px;
  }
  .bottom-nav {
    padding: 0;
  }
  .bottom-nav__logo {
    height: 256px;
    width: 256px;
    margin-left: 268px;
    -webkit-transform: translateY(-51px);
            transform: translateY(-51px);
  }
  .bottom-nav .bottom-navigation {
    margin-right: 136px;
    font-size: 40px;
    padding-top: 72px;
  }
  .bottom-nav .bottom-navigation__link {
    margin: 0 19px;
  }
  footer {
    padding: 0 150px;
  }
  footer .socials {
    font-size: 30px;
  }
  footer .to-top {
    height: 126px;
    width: 126px;
  }
  footer .copyright {
    padding-bottom: 27px;
    font-size: 25px;
  }
}
/*# sourceMappingURL=main.css.map */