@font-face {
  font-family: Gotham-bold;
  src: url(../assets/font/Gotham_Bold.otf);
}

@font-face {
  font-family: Gotham-light;
  src: url(../assets/font/Gotham_Light.otf);
  font-weight: 700;
}

@font-face {
  font-family: Gotham-thin;
  src: url(../assets/font/Gotham_Thin.otf);
}

:root {
  --dark-red: hsla(14, 84%, 27%, 1);
  --orange: hsla(14, 74%, 37%, 1);
  --navbar-height: 45px;
}

html,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
}

body {
  background-color: none;
}

.gotham-bold {
  font-family: Gotham-bold;
  font-weight: 700;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
}

.navbar {
  max-height: var(--navbar-height);
  background-color: var(--dark-red);
  mix-blend-mode: screen;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
}

.navbar::after {
  content: "";
  background-image: url(../assets/header.png);
  background-size: cover;
  height: var(--navbar-height);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  mix-blend-mode: multiply;
}

.brand {
  max-height: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.brand * {
  z-index: 1000;
  text-transform: none;
}

.brand__logo {
  max-height: inherit;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.brand__name {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  font-family: Gotham-light;
  color: var(--orange);
  font-size: 0.85em;
}

.navigation {
  display: none;
  z-index: 1000;
}

.navigation--open {
  display: -ms-grid;
  display: grid;
}

.navigation__link {
  color: var(--orange);
  text-decoration: none;
  font-variant: small-caps;
  font-family: Gotham-light;
  font-size: 24px;
}

.navigation__link:hover {
  background: #121212;
}

.hamburger {
  -ms-grid-row-align: center;
      align-self: center;
  height: 30px;
  width: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  row-gap: 5px;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
  z-index: 1000;
}

.hamburger__item {
  border: solid var(--orange) 1.5px;
  background-color: var(--orange);
  border-radius: 10px;
  pointer-events: none;
}

main {
  margin-top: var(--navbar-height);
}

.landing {
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.landing::before, .landing::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.landing::before {
  background: url(../assets/arthur_bg.jfif) no-repeat center center;
  background-size: cover;
  z-index: -20;
}

.landing::after {
  z-index: -19;
  background: rgba(144, 49, 14, 0.4);
  mix-blend-mode: color;
}

.landing__text {
  font-family: Gotham-thin;
  margin-left: 40px;
}

.landing__text .title {
  color: var(--orange);
  text-shadow: -7px 1px 5px rgba(0, 0, 0, 0.5);
}

.landing__text .section-title {
  margin-left: 0px;
}

.section-title {
  font-family: Gotham-thin;
  border-left: solid 5px var(--orange);
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 40px;
}

.section-title__text {
  color: white;
  font-weight: 300;
  margin-left: 13px;
}

.transition {
  position: absolute;
  bottom: 0;
  left: 0;
}

.tournaments {
  background-image: url(../assets/checker_bg.png);
  padding: 20px 0 50px 0;
  display: -ms-grid;
  display: grid;
  row-gap: 25px;
}

.tournament-type {
  padding: 0 10px;
  height: 50px;
  position: relative;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.tournament-type::before, .tournament-type::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
}

.tournament-type::before {
  background: rgba(127, 38, 11, 0.7);
  mix-blend-mode: color;
}

.tournament-type::after {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.tournament-type--conquest {
  background-image: url(../assets/type-conquest.png);
}

.tournament-type--joust {
  background-image: url(../assets/type-joust.png);
}

.tournament-type--assault {
  background-image: url(../assets/type-assault.png);
}

.tournament-type--special {
  background-image: url(../assets/type-special.png);
}

.tournament-type__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.tournament-type__icon {
  height: 25px;
  width: 25px;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tournament-type__icon--conquest {
  background-image: url(../assets/type-conquest-icon.png);
}

.tournament-type__icon--joust {
  background-image: url(../assets/type-joust-icon.png);
}

.tournament-type__icon--assault {
  background-image: url(../assets/type-assault-icon.png);
}

.tournament-type__icon--special {
  background-image: url(../assets/type-special-icon.png);
}

.tournament-type__text {
  color: white;
  font-family: Gotham-thin;
  font-size: 11px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.timetable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  z-index: 1000;
  font-family: gotham-light;
  text-align: center;
  gap: 15px;
}

.timetable__region {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 7px;
}

.timetable__button {
  background: #7f260b;
  border-radius: 5px;
  width: 48px;
  height: 16px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
  offset: 0px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.5) inset;
}

.timetable__name {
  font-family: gotham-bold;
  color: #7f260b;
  mix-blend-mode: multiply;
  font-size: 11px;
}

.timetable__time {
  font-size: 10px;
}

@media (max-width: 576px) {
  .navigation {
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    text-align: right;
    width: 100%;
    background: #1c1c1c;
    row-gap: 10px;
    padding: 10px 5% 10px 0;
  }
}

@media (min-width: 576px) {
  .navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    -ms-grid-row-align: center;
        align-self: center;
    font-size: 24;
  }
  .navigation__link {
    font-size: 10px;
  }
  .hamburger {
    display: none;
  }
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 60px;
  }
  .navigation {
    margin-right: 50px;
  }
  .navigation__link {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  :root {
    --navbar-height: 90px;
  }
  .navigation__link {
    font-size: 24px;
  }
  .navigation__link:hover {
    background: none;
  }
  .brand__name {
    font-size: 1.4em;
  }
  main {
    margin-top: var(--navbar-height);
  }
  .section-title {
    font-size: 30px;
    height: 60px;
    border-width: 10px;
    margin-left: 110px;
  }
  .landing {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .landing__text {
    -webkit-transform: translateY(-16%);
            transform: translateY(-16%);
    margin-left: 110px;
  }
  .landing__text .title {
    font-size: 60px;
  }
  .landing__text .cta {
    margin-left: 0;
  }
  .tournaments {
    row-gap: 50px;
  }
  .tournaments .tournament-type {
    height: 100px;
    padding: 0 110px;
  }
  .tournaments .tournament-type__text {
    font-size: 25px;
  }
  .tournaments .tournament-type__icon {
    height: 50px;
    width: 50px;
  }
  .timetable {
    gap: 60px;
  }
  .timetable__name {
    font-size: 25px;
  }
  .timetable__time {
    font-size: 20px;
  }
  .timetable__button {
    height: 33px;
    width: 95px;
  }
  .timetable__region {
    width: 193px;
  }
}
/*# sourceMappingURL=main.css.map */