@font-face {
	font-family: Gotham-bold;
	src: url(../assets/font/Gotham_Bold.otf);
}

@font-face {
	font-family: Gotham-light;
	src: url(../assets/font/Gotham_Light.otf);
	font-weight: 700;
}

@font-face {
	font-family: Gotham-thin;
	src: url(../assets/font/Gotham_Thin.otf);
}

:root {
	--dark-red: hsla(14, 84%, 27%, 1);
	--orange: hsla(14, 74%, 37%, 1);

	--navbar-height: 45px;
}

html,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-transform: uppercase;
}

body {
	background-color: none;
}

.gotham-bold {
	font-family: Gotham-bold;
	font-weight: 700;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2000;
}

.navbar {
	max-height: var(--navbar-height);
	background-color: var(--dark-red);
	mix-blend-mode: screen;

	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	justify-content: space-between;
	padding: 0 5%;

	&::after {
		content: "";
		background-image: url(../assets/header.png);
		background-size: cover;
		height: var(--navbar-height);
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		mix-blend-mode: multiply;
	}
}

.brand {
	max-height: inherit;
	display: inline-flex;

	* {
		z-index: 1000;
		text-transform: none;
	}

	&__logo {
		max-height: inherit;
		align-self: center;
	}

	&__name {
		align-self: center;
		display: grid;
		grid-template-rows: auto auto;
		font-family: Gotham-light;
		color: var(--orange);
		font-size: 0.85em;
	}
}

.navigation {
	display: none;
	z-index: 1000;

	&--open {
		display: grid;
	}

	&__link {
		color: var(--orange);
		text-decoration: none;
		font-variant: small-caps;
		font-family: Gotham-light;
		font-size: 24px;

		&:hover {
			background: hsl(0°, 0%, 7%);
		}
	}
}

.hamburger {
	align-self: center;
	height: 30px;
	width: 30px;

	display: grid;
	grid-template-rows: auto auto auto;
	row-gap: 5px;
	align-content: center;
	cursor: pointer;
	z-index: 1000;

	&__item {
		border: solid var(--orange) 1.5px;
		background-color: var(--orange);
		border-radius: 10px;
		pointer-events: none;
	}
}

main {
	margin-top: var(--navbar-height);
}

.landing {
	height: calc(100vh - var(--navbar-height));
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: hsla(0, 0%, 0%, 0.7);

	display: grid;
	align-content: center;

	&::before,
	&::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}

	&::before {
		background: url(../assets/arthur_bg.jfif) no-repeat center center;
		background-size: cover;
		z-index: -20;
	}
	&::after {
		z-index: -19;
		background: hsla(16, 82%, 31%, 0.4);
		mix-blend-mode: color;
	}

	&__text {
		font-family: Gotham-thin;
		margin-left: 40px;
		.title {
			color: var(--orange);
			text-shadow: -7px 1px 5px hsla(0, 0%, 0%, 0.5);
		}
		.section-title {
			margin-left: 0px;
		}
	}
}

.section-title {
	font-family: Gotham-thin;
	border-left: solid 5px var(--orange);
	display: grid;
	align-content: center;
	margin-left: 40px;

	&__text {
		color: white;
		font-weight: 300;
		margin-left: 13px;
	}
}

.transition {
	position: absolute;
	bottom: 0;
	left: 0;
}

.tournaments {
	background-image: url(../assets/checker_bg.png);
	padding: 20px 0 50px 0;
	display: grid;
	row-gap: 25px;
}

.tournament-type {
	height: 50px;
	position: relative;
	background-size: cover;
	display: grid;
	align-content: center;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: inherit;
		width: 100%;
	}

	&::before {
		background: hsla(14, 84%, 27%, 0.7);
		mix-blend-mode: color;
	}

	&::after {
		background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	}

	&--conquest {
		background-image: url(../assets/type-conquest.png);
	}

	&--joust {
		background-image: url(../assets/type-joust.png);
	}

	&--assault {
		background-image: url(../assets/type-assault.png);
	}

	&--special {
		background-image: url(../assets/type-special.png);
	}

	&__title {
		display: inline-flex;
	}

	&__icon {
		height: 50px;
		width: 50px;
		background-size: cover;

		&--conquest {
			background-image: url(../assets/type-conquest-icon.png);
		}

		&--joust {
			background-image: url(../assets/type-joust-icon.png);
		}

		&--assault {
			background-image: url(../assets/type-assault-icon.png);
		}

		&--special {
			background-image: url(../assets/type-special-icon.png);
		}
	}

	&__text {
		color: white;
		font-family: Gotham-thin;
	}
}

//Mobile
@media (max-width: 576px) {
	.navigation {
		position: fixed;
		top: var(--navbar-height);
		left: 0;
		text-align: right;
		width: 100%;
		background: hsl(0°, 0%, 11%);
		row-gap: 10px;
		padding: 10px 5% 10px 0;
	}
}

@media (min-width: 576px) {
	.navigation {
		display: grid;
		grid-template-columns: auto auto auto auto;
		column-gap: 50px;
		align-self: center;
		font-size: 24;

		&__link {
			font-size: 10px;
		}
	}

	.hamburger {
		display: none;
	}
}

//Tablet
@media (min-width: 768px) {
	:root {
		--navbar-height: 60px;
	}

	.navigation {
		margin-right: 50px;

		&__link {
			font-size: 20px;
		}
	}
}

//Desktop
@media (min-width: 992px) {
	:root {
		--navbar-height: 90px;
	}

	.navigation {
		&__link {
			font-size: 24px;
		}
	}

	.brand {
		&__name {
			font-size: 1.4em;
		}
	}

	main {
		margin-top: var(--navbar-height);
	}

	.section-title {
		font-size: 30px;
		height: 60px;
		border-width: 10px;
		margin-left: 110px;
	}

	.landing {
		justify-content: start;

		&__text {
			transform: translateY(-16%);
			margin-left: 110px;
			.title {
				font-size: 60px;
			}
			.cta {
				margin-left: 0;
			}
		}
	}

	.tournaments {
		row-gap: 50px;
		.tournament-type {
			height: 100px;

			&__text {
				font-size: 25px;
			}

			&__title {
				margin-left: 110px;
			}
		}
	}
}
