@font-face {
	font-family: Gotham-bold;
	src: url(../assets/font/Gotham_Bold.otf);
}

@font-face {
	font-family: Gotham-light;
	src: url(../assets/font/Gotham_Light.otf);
	font-weight: 700;
}

@font-face {
	font-family: Gotham-thin;
	src: url(../assets/font/Gotham_Thin.otf);
}

:root {
	--dark-red: hsla(14, 84%, 27%, 1);
	--orange: hsla(14, 74%, 37%, 1);

	--navbar-height: 45px;
	--calendar-width: 350px;
}

html,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-transform: uppercase;
}

body {
	background-color: none;
}

.gotham-bold {
	font-family: Gotham-bold;
	font-weight: 700;
}

a.anchor {
	display: block;
	position: relative;
	top: calc(-1 * var(--navbar-height));
	visibility: hidden;
}

#home {
	position: absolute;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2000;
}

.navbar {
	max-height: var(--navbar-height);
	background-color: var(--dark-red);
	mix-blend-mode: screen;

	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	justify-content: space-between;
	padding: 0 5%;

	&::after {
		content: "";
		background-image: url(../assets/header.png);
		background-size: cover;
		height: var(--navbar-height);
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		mix-blend-mode: multiply;
	}
}

.brand {
	max-height: inherit;
	display: inline-flex;

	* {
		z-index: 1000;
		text-transform: none;
	}

	&__logo {
		max-height: inherit;
		align-self: center;
	}

	&__name {
		align-self: center;
		display: grid;
		grid-template-rows: auto auto;
		font-family: Gotham-light;
		color: var(--orange);
		font-size: 0.85em;
	}
}

.navigation {
	display: none;
	z-index: 1000;

	&--open {
		display: grid;
	}

	&__link {
		color: var(--orange);
		text-decoration: none;
		font-variant: small-caps;
		font-family: Gotham-light;
		font-size: 24px;

		&:hover {
			background: hsl(0째, 0%, 7%);
		}
	}
}

.hamburger {
	align-self: center;
	height: 30px;
	width: 30px;

	display: grid;
	grid-template-rows: auto auto auto;
	row-gap: 5px;
	align-content: center;
	cursor: pointer;
	z-index: 1000;

	&__item {
		border: solid var(--orange) 1.5px;
		background-color: var(--orange);
		border-radius: 10px;
		pointer-events: none;
	}
}

main {
	margin-top: var(--navbar-height);
}

.landing {
	height: calc(100vh - var(--navbar-height));
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: hsla(0, 0%, 0%, 0.7);

	display: grid;
	align-content: center;

	&::before,
	&::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}

	&::before {
		background: url(../assets/arthur_bg.jfif) no-repeat center center;
		background-size: cover;
		z-index: -20;
	}
	&::after {
		z-index: -19;
		background: hsla(16, 82%, 31%, 0.4);
		mix-blend-mode: color;
	}

	&__text {
		font-family: Gotham-thin;
		margin-left: 40px;
		.title {
			color: var(--orange);
			text-shadow: -7px 1px 5px hsla(0, 0%, 0%, 0.5);
		}
		.section-title {
			margin-left: 0px;
		}
	}
}

.section-title {
	font-family: Gotham-thin;
	border-left: solid 5px var(--orange);
	display: grid;
	align-content: center;
	margin-left: 40px;

	&__text {
		color: white;
		font-weight: 300;
		margin-left: 13px;
	}
}

.transition {
	position: absolute;
	left: 0;
}

.transition-top {
	top: -1px;
	transform: rotateZ(180deg);
}

.transition-bot {
	bottom: -1px;
}

.tournaments {
	padding: 20px 0 50px 0;
	display: grid;
	row-gap: 25px;
}

.tournaments {
	background-image: url(../assets/checker_bg.jpg);
}

.calendar-section {
	background-image: url(../assets/checker_bg_calendar.jpg);
}

.tournament-type {
	padding: 0 10px;
	height: 50px;
	position: relative;
	background-size: cover;
	display: grid;
	align-content: center;
	justify-content: space-between;
	grid-template-columns: auto auto;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: inherit;
		width: 100%;
	}

	&::before {
		background: hsla(14, 84%, 27%, 0.7);
		mix-blend-mode: color;
	}

	&::after {
		background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	}

	&--conquest {
		background-image: url(../assets/type-conquest.png);
	}

	&--joust {
		background-image: url(../assets/type-joust.png);
	}

	&--assault {
		background-image: url(../assets/type-assault.png);
	}

	&--special {
		background-image: url(../assets/type-special.png);
	}

	&__title {
		display: inline-flex;
	}

	&__icon {
		height: 25px;
		width: 25px;
		background-size: cover;
		align-self: center;

		&--conquest {
			background-image: url(../assets/type-conquest-icon.png);
		}

		&--joust {
			background-image: url(../assets/type-joust-icon.png);
		}

		&--assault {
			background-image: url(../assets/type-assault-icon.png);
		}

		&--special {
			background-image: url(../assets/type-special-icon.png);
		}
	}

	&__text {
		color: white;
		font-family: Gotham-thin;
		font-size: 11px;
		align-self: center;
	}
}

.timetable {
	display: flex;
	color: white;
	z-index: 1000;
	font-family: gotham-light;
	text-align: center;
	gap: 15px;

	&__region {
		display: grid;
		grid-template-rows: auto auto;
		justify-content: center;
		row-gap: 7px;
	}

	&__button {
		background: hsla(14, 84%, 27%, 1);
		border-radius: 5px;
		width: 48px;
		height: 16px;
		display: grid;
		align-content: center;
		justify-content: center;
		justify-self: center;
		offset: 0px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 0px 11px 0px hsla(0, 0%, 0%, 0.5) inset;
	}

	&__name {
		font-family: gotham-bold;
		color: hsla(14, 84%, 27%, 1);
		mix-blend-mode: multiply;
		font-size: 11px;
	}

	&__time {
		font-size: 10px;
	}
}

.calendar-section {
	padding: 20px 0 70px 0;
	display: grid;
	row-gap: 30px;
}

.calendar,
.filter {
	width: var(--calendar-width);
	justify-self: center;
}

.calendar {
	color: white;
	border-collapse: collapse;
	font-family: gotham-thin;

	td,
	th {
		width: calc(var(--calendar-width) / 7);
	}

	&__header {
		th {
			text-align: right;
			padding: 0 5px 2px 0;
			font-size: 8px;
		}
	}

	&__day {
		border: solid 2px hsla(0, 0%, 100%, 0.2);
		height: calc(var(--calendar-width) / 7);
		position: relative;

		.day-number {
			color: white;
			font-family: gotham-thin;
			position: absolute;
			top: 3px;
			right: 3px;
			font-size: 7px;
		}
	}

	&__today {
		&::after {
			content: "";
			position: absolute;
			top: 3px;
			left: 3px;
			background: hsla(108, 83%, 47%, 1);
			box-shadow: 0px 0px 8px 0px hsla(108, 83%, 47%, 1);
			border-radius: 8px;
			width: 7px;
			height: 7px;
		}
	}
}

.filter {
	display: flex;
	justify-content: space-between;
}

.dropdown {
	position: relative;
	.dropdown-button,
	.dropdown-items {
		color: white;
		font-size: 11px;
		font-family: Gotham-bold;
		text-align: right;
	}
	.dropdown-button {
		background: none;
		border: none;
		display: grid;
		grid-template-columns: auto auto;
		align-items: center;
		column-gap: 8px;
		cursor: pointer;
		margin-left: auto;
		img {
			width: 21px;
		}

		&--open {
			background: hsl(0째, 0%, 11%);
		}
	}

	.dropdown-items {
		top: 28px;
		background: hsl(0째, 0%, 11%);
		ul {
			list-style: none;
		}

		.dropdown-item {
			text-align: right;
		}
	}
}

.about-section {
	position: relative;
	height: 250px;
	.transition {
		z-index: -1 !important;
		max-width: 100%;
	}

	.about-title {
		transform: translateY(-50%);
	}

	&::before {
		content: "";
		height: inherit;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -10;
		background: hsla(16, 82%, 31%, 0.4);
		mix-blend-mode: color;
		overflow-x: hidden;
	}

	&::after {
		content: "";
		height: inherit;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../assets/about_bg.jfif);
		background-size: cover;
		z-index: -20;
		filter: blur(3px);
		overflow-x: hidden;
	}

	.about-content {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		display: grid;
		align-self: center;
		grid-template-columns: auto auto auto;
		column-gap: 10px;
		justify-content: center;
		text-align: center;
		&__item {
			color: white;
			font-family: gotham-thin;
		}
	}
}

.bottom-nav {
	background-image: url(../assets/checker_bg.jpg);
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	padding: 0 10px;
	.bottom-navigation {
		align-self: center;
		height: 80%;
		border-top: solid 8px var(--dark-red);
		display: flex;
		padding-top: 10px;
		font-size: 11px;
		&__link {
			text-decoration: none;
			color: white;
			font-family: gotham-thin;
			margin: 0 3px;
			display: inline;
			max-height: 38px;

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
	&__logo {
		height: 80px;
		width: 80px;
	}
}

footer {
	background-color: var(--dark-red);
	display: grid;
	grid-template-areas: "socials to-top" "copyrights copyrights";
	padding: 0 10px;
	.to-top {
		grid-area: to-top;
		height: 63px;
		width: 63px;
		background: hsla(14, 74%, 37%, 1);
		border: none;
		cursor: pointer;
		justify-self: flex-end;
		box-shadow: 0px 0px 13px 7px hsla(0, 0%, 0%, 0.25);
		transform: translateY(-50%);
		img {
			max-height: 60%;
		}
	}

	.socials {
		grid-area: socials;
		align-self: center;
		font-family: gotham-bold;
		color: white;
		&__icons {
			list-style: none;
			display: flex;
			justify-content: space-between;
			li {
				margin: 0 11px;
				padding: 3px;
				display: grid;
				align-content: center;
				justify-content: center;
			}
			a {
				text-decoration: none;
				color: white;
			}
		}

		&__wrapper {
			display: inline-block;
			text-align: center;
		}
	}

	.copyright {
		display: flex;
		grid-area: copyrights;
		font-family: gotham-thin;
		color: white;
		text-align: center;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 5px;
		font-size: 12px;
	}
}

.bottom-nav,
footer {
	height: 120px;
}

//Mobile
@media (max-width: 576px) {
	html,
	body {
		overflow-x: hidden;
	}
	.navigation {
		position: fixed;
		top: var(--navbar-height);
		left: 0;
		text-align: right;
		width: 100%;
		background: hsl(0째, 0%, 11%);
		row-gap: 10px;
		padding: 10px 5% 10px 0;
	}
}

@media (min-width: 576px) {
	.navigation {
		display: grid;
		grid-template-columns: auto auto auto auto;
		column-gap: 50px;
		align-self: center;
		font-size: 24;

		&__link {
			font-size: 10px;
		}
	}

	.hamburger {
		display: none;
	}
}

//Tablet
@media (min-width: 768px) {
	:root {
		--navbar-height: 60px;
	}

	.navigation {
		margin-right: 50px;

		&__link {
			font-size: 20px;
		}
	}
}

//Desktop
@media (min-width: 992px) {
	:root {
		--navbar-height: 90px;
		--calendar-width: 1050px;
	}

	.navigation {
		&__link {
			font-size: 24px;

			&:hover {
				background: none;
			}
		}
	}

	.brand {
		&__name {
			font-size: 1.4em;
		}
	}

	main {
		margin-top: var(--navbar-height);
	}

	.section-title {
		font-size: 30px;
		height: 60px;
		border-width: 10px;
		margin-left: 110px;
	}

	.landing {
		justify-content: start;

		&__text {
			transform: translateY(-16%);
			margin-left: 110px;
			.title {
				font-size: 60px;
			}
			.cta {
				margin-left: 0;
			}
		}
	}

	.tournaments {
		row-gap: 50px;
		.tournament-type {
			height: 100px;
			padding: 0 110px;

			&__text {
				font-size: 25px;
			}

			&__icon {
				height: 50px;
				width: 50px;
			}
		}
	}

	.timetable {
		gap: 60px;

		&__name {
			font-size: 25px;
		}

		&__time {
			font-size: 20px;
		}

		&__button {
			height: 33px;
			width: 95px;
		}

		&__region {
			width: 193px;
		}
	}

	.filter {
		justify-content: flex-end;
	}

	.filter__date {
		margin-right: auto;
		.dropdown-button {
			width: 270px;
			text-align: right;
		}
	}

	.filter__gamemode {
		margin-left: 40px;
	}

	.dropdown {
		.dropdown-button,
		.dropdown-items {
			font-size: 24px;
		}

		.dropdown-items {
			padding-right: 50px;
		}

		.dropdown-button > img {
			width: 42px;
		}
	}

	.calendar {
		&__header {
			th {
				font-size: 20px;
			}
		}

		&__day {
			.day-number {
				font-size: 20px;
				top: 5px;
				right: 5px;
			}
		}

		&__today {
			&::after {
				height: 16.67px;
				width: 16.67px;
				top: 5px;
				left: 5px;
			}
		}
	}

	.about-section {
		height: 904px;
		.about-content {
			font-size: 50px;
			column-gap: 120px;
		}
	}

	.bottom-nav,
	footer {
		height: 254px;
	}

	.bottom-nav {
		padding: 0;
		&__logo {
			height: 256px;
			width: 256px;
			margin-left: 268px;
			transform: translateY(-51px);
		}

		.bottom-navigation {
			margin-right: 136px;
			font-size: 40px;
			padding-top: 72px;
			&__link {
				margin: 0 19px;
			}
		}
	}

	footer {
		padding: 0 150px;
		.socials {
			font-size: 30px;
		}

		.to-top {
			height: 126px;
			width: 126px;
		}

		.copyright {
			padding-bottom: 27px;
			font-size: 25px;
		}
	}
}
